@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'BubbleBody Neue';
  src: url('@/assets/fonts/BubbleBodyNeue-Regular.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'BubbleBody Neue';
  src: url('@/assets/fonts/BubbleBodyNeue-Bold.ttf') format('truetype');
  font-weight: 700;
}
